%h1 index
%ul
  -@categories.each do |category|
    %li
      %a{:href => "/category/#{category[:_id]}"}
        =category[:name]

//%button{:onclick => "TogetherJS(this); TogetherJSConfig_dontShowClicks = true; return false;"}  
//YaY
