%h1 Listing rooms

%table
  %tr
    %th Key
    %th Admin
    %th
    %th
    %th

  - @rooms.each do |room|
    %tr
      %td= room.key
      %td= room.admin
      %td= link_to 'Show', room
      %td= link_to 'Edit', edit_room_path(room)
      %td= link_to 'Destroy', room, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Room', new_room_path
