.row
  .span9
    %p#notice= notice
    = videojs_rails id: "room_video", sources: { mp4: "/films/mp4/#{@film[:file]}.mp4", webm: "/films/webm/#{@film[:file]}.webm"}, width: "100%", height: "500px"  

  .span3
    %ul#online_users.nav.nav-pills.nav-stacked

.row
  .span9
    %div#online_chat

    %form#text-form
      %input{:type=>'text', :name => 'message', :disabled => "disabled"}
      %button.btn.send_message{:type=> 'submit', :disabled => "disabled"}
        Send
  .span3
    #room_link
      %input{:type => 'text'}
    %a#connect_room{:class=> "btn btn-primary", :href=>"##{@film[:_id]}"}
      =t :join_room