// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#online_chat {
  overflow:scroll;
  widht: 100%;
  max-height: 130px;
  min-height: 130px;
}

.navbar{
  opacity: 0.7;
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
}

.navbar-inner {
  background: #111
}

.navbar .brand {
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
}

.navbar .nav > li > a {
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
}

.navbar .nav > li > a:hover {
  color: #fff;
}

#text-form input {
  width: 99%
}

.controls{
  width: 100%;
  background: #000;
  color: #fff;
}

.vjs-progress-holder{
  display: none;
}